.to-do-root {
  border: 2px solid;
  padding: 10rem 3rem;
  text-align: center;
  margin: 5rem 20rem;
  min-height: 100vh;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 1000px) {
  .to-do-root {
    margin: 30px auto;
    padding: 10px;
    width: 80%;
  }
}
